<div class="home">
    <div class="main">
        
    <h1>Add Games</h1>
    <form action="/add" method="post">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Price:</label>
        <input type="number" name="price">
        <input type="submit" value="add">
    </form>
    </div>
    <a href="/">back</a>
</div>
