<div class="home">
    <div class="main">
        
    <h1>
        {{name}}
    </h1>
    <h2>
        £{{price}}
    </h2>

    <div class="actions">
        <form action="/delete?id={{id}}" method="post" class="game">
            <button class="delete">Remove</button>
        </form>

        <button class="edit">Edit</button>
    </div>

    </div>
    <a href="/">back</a>
</div>