<div class="home">
    <div class="main">
        
    <h1>
        {{name}}
    </h1>
    <h2>
        £{{price}}
    </h2>

    <div class="actions">
        <button class="delete">Remove</button>
        <button class="edit">Edit</button>
    </div>

    </div>
    <a href="/">back</a>
</div>