<div class="home">
    <h1>Games</h1>

    <div class="main">
        <div class="table">
                <div class="table-head">Title</div>
                <div class="table-head">Price</div>
        {{#each games}}
                <a class="table-row" title="game link" href="/game?id={{this._id}}">
                    <div class="cell">
                    {{this.title}}
                    </div>
                    <div class="cell">

                    £{{this.price}}
                    </div>
                </a>
        {{/each}}
        </div >
    </div>
    <a href="/add">add games</a>
    |
    <a href="/logout">logout</a>
</div>