<div class="home">
    <h1>Games</h1>

    <div class="main">
        <table>
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
        {{#each games}}
            <tr>
                <td id="{{this._id}}">
                    <div class="cell">
                    {{this.title}}
                    </div>
                </td>
                <td>
                    <div class="cell">

                    £{{this.price}}
                    </div>
                </td>
            </tr>            
        {{/each}}
        </table>
    </div>
    <a href="/add">add games</a>
    |
    <a href="/logout">logout</a>
</div>